<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<img th:src="@{/images/PizzaCloudSmall.png}"/>

<h3>
    <div th:if="${not #lists.isEmpty(orders)}">
        <span>User: </span>
        <span th:text="${orders[0].user.fullname}"></span>
    </div>
</h3>
<h3>Your orders:</h3>
<a th:href="@{/design}" id="another">Design another pizza</a><br/>
<table>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.deliveryName}">

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>